.container
  %section#footer-wrapper.row
    %section#footer-inner.side-shadow
      .footer-content
        %ul.footer-nav
          %li= link_to "Home", ""
          %li= link_to "Services", ""
          %li= link_to "About Us", ""
          %li= link_to "Policies", ""
          %li= link_to "Resources", ""
          %li= link_to "Contact", ""
          %li= link_to "Site Map", ""
        %p
          %small
            Austin Pet Stylist
            Copywrite 2015
            Web Design by Veridian Rising
            All Rights Reserved
        %section#cred-logos
          %ul
            %li= link_to image_tag("flfa_logo.png")
            %li= link_to image_tag("ndgaa_logo.png")