%section#top-header.row
  %section#header-logo
    %h1
      = link_to image_tag("austinpetstylist_logo.png"), root_path
  %ul#admin_menu.nav
    - if !logged_in?
      %li= link_to "Log In", sign_in_path
    - if logged_in?
      %li= link_to "Create Testimonial", new_testimonial_path
      %li= link_to "Log Out", sign_out_path
  %section#social-media
    %ul
      %li
        %a{:href => "https://www.facebook.com/austinpetstylist?ref=br_tf"}
          = image_tag("facebook_logo.png")
      %li
        %a{:href => "https://twitter.com/atxpetstylist"}
          = image_tag("twitter_logo.png")
  %ul#header-nav.nav.nav-pills
    %li= link_to "Services", services_path
    %li= link_to "About Us", about_us_path
    %li= link_to "VIP Rewards", vip_rewards_path
    %li= link_to "Policies", policies_path
    %li= link_to "Resources", resources_path
    %li= link_to "Contact", contact_path
  .down-separator
    = image_tag("shadow_down.png")
