.container
  .navbar-header
    %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse", "data-target" => ".aps-navbar-collapse"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "Austin Pet Stylist", root_path, id: "aps-logo-text"
    #header-logo
      = link_to image_tag("austinpetstylist_logo.png"), root_path, class: "navbar-brand aps-logo hidden-xs"
  %nav.navbar-collapse.aps-navbar-collapse.collapse{"aria-expanded" => "false", "style" => "height: 1px"}
    %ul.nav.nav-pills.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.clear
      %li= link_to "Services", services_path
      %li= link_to "About Us", about_us_path
      %li= link_to "VIP Rewards", vip_rewards_path
      %li= link_to "Policies", policies_path
      %li= link_to "Resources & Referrals", resources_path
      %li= link_to "Contact", contact_path
  %ul.nav.navbar-nav.navbar-left.hidden-sm.hidden-xs
    - if !logged_in?
      %li= link_to "Log In", sign_in_path
    - if logged_in?
      %li= link_to "Create Testimonial", new_testimonial_path
      %li= link_to "Log Out", sign_out_path
  #social-media
    %ul
      %li
        %a{:href => "https://www.facebook.com/austinpetstylist?ref=br_tf"}
          = image_tag("facebook_logo.png")
      %li
        %a{:href => "https://twitter.com/atxpetstylist"}
          = image_tag("twitter_logo.png")
  .down-separator
    = image_tag("shadow_down.png")