.container
  #about-us.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container
      .col-md-12.wide-box
        %article
          %header
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              %h1 Jade Joy
              %h2 Austin-based professional dog groomer extraordinaire
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
              = image_tag("jade-photo.png", class: "photo hidden-xs")
              = image_tag("jade-name.png", class: "name hidden-xs")
          %blockquote.col-xs-12.col-sm-6.col-md-6
            I am an NDGAA Certified Pet Stylist and owner of Austin Pet Stylist , and have made Austin home for the last 15 years.  I moved here in 2001 to attend UT Austin, and graduated with a BSN in Nursing in 2006. After working in trauma and women’s health for a few years, I realized it was time to pursue my passion for animals. A career in dog grooming was a perfect way for me to combine my love for dogs and my artistic side, and it has proven to be a dream come true.
          %blockquote.col-xs-12.col-sm-12.col-md-7.col-lg-6
            I have a senior Pomeranian named Gizmo, who think he’s a human and dislikes being around most other dogs. He’s my world, and I understand the close connections people have with their pets. All pets in my care are treated as if they were my own, and I understand how important that is to you.
          %blockquote.col-lg-7
            I previously volunteered at Austin Pets Alive! and The Humane Society as a dog walker, and currently offer pro bono grooming services to Blue Dog Rescue whenever they have a dog that needs a little TLC. 
          %blockquote.col-lg-8
            I believe there is always more to learn when it comes to grooming. I am constantly looking for more knowledge, and have attended countless trade shows, seminars, dog shows, and classes. I am currently certified in Pet 1st Aid and CPR and a Certified Terrier Groomer through the NDGAA. I am working towards my Master Groomer Certification and hope that have that completed soon.
          %blockquote.col-lg-12
            I love grooming to breed standard, and smaller dogs are my specialty. Some of my favorite breeds to groom are Pomeranians, Yorkies, Poodles, Wire Fox Terriers, Australian Shepherds, Golden Retrievers, or creative or personality trims on mixed-breed dogs.
          .clear
      .col-md-12.special
        .special-format
          %article
            %header
              %h1 Meet The Team
      .col-md-12.wide-box
        %article
          %header
            .col-xs-12.col-sm-6.col-md-6.col-lg-10
              %h1 Edith Coffey
              %h2 Award-winning NDGAA Certified pet stylist
            .col-xs-6.col-sm-6.col-md-6.col-lg-2
              = image_tag(nil, class: "hidden-xs pull-right")
          %blockquote
            I'm a professional pet stylist of 7 years, and I can't think of a better career for me!
          %blockquote
            I have loved dogs since I was a baby; my first word was "Teddy" my Scottish Terrier's name. I read every book on dogs I could find when I was young, spent countless hours teaching Patsy the family dog tricks and brushing her, and was obsessed with trying to get my parents to let me have my own puppy. 
          %blockquote
            I became a groomer at 18 after attending Petsmart Grooming Academy. Since then, I have attended many seminars and hands-on workshops, earned my First Aid and CPR certification, and competed in grooming competitions where I earned several first place wins. I am currently working towards earning my National Certified Master Groomer title through the National Dog Groomer's Association of America. 
          %blockquote
            I have experience in many breeds, my favorite being the poodle, any size. I even have my own poodle-kids, a Miniature poodle, Trevvor, and a Toy Poodle, Raven. I specialize in scissor trims, but also have experience in handstripping terriers and spaniels.
          %blockquote
            I look forward to working with you and your furkid to find that perfect personalized style you've been looking for!
      .col-md-12.wide-box
        %article
          %header
            .col-xs-12.col-sm-6.col-md-6.col-lg-10
              %h1 Dorothy Coffey
              %h2 Austin Pet Stylist in-training
            .col-xs-6.col-sm-6.col-md-6.col-lg-2
              = image_tag(nil, class: "hidden-xs pull-right")
          %blockquote
            I am one of the rare Austin born and raised. Growing up I in a neighborhood where dogs where allowed to roam free, and since my parents have a lot of kids, dogs would come and go as they pleased. We had lots of doggie companions so I was always around dogs and just loved them. Never was there a day that I didn't see a dog, pet a dog, feed a dog, or play with at least one dog. This led me to start professionally bathing at 16. I've been bathing and drying dogs for the past 2 years and now I'm a stylist in training!
          %blockquote
            I love attending grooming competitions where I am typically an assistant to my sister, Edith. I help bathe and blow dry any dogs she's taking into the competition ring and I take care of any of the dogs needs. I love attending seminars and practicing with whatever dog I can get my hands on. I also enjoy hiking, biking and spending time with my own personal dog, Baloo. Baloo is an English cocker spaniel and his name pretty much describes him. He's a fuzzy, loving jungle bear that is obsessed with food and taking life easy, and I'm obsessed with him.
          %blockquote
            Eventually my goal is to compete in competitions and become a Certified Master Groomer. I am excited to continue to take care of your pets and keep them looking fabulous for years to come!
      .col-md-12.wide-box
        %article
          %header
            .col-xs-12.col-sm-6.col-md-6.col-lg-10
              %h1 Calais Morgan
              %h2 Express style appointments and large-breed groomer
            .col-xs-6.col-sm-6.col-md-6.col-lg-2
              = image_tag(nil, class: "hidden-xs pull-right")
          %blockquote
            I'm originally from central rural Oklahoma, just outside of Guthrie. With maternal grandparents ranching outside of Burnet, Texas, I spent a lot of time in and around the Hill Country near Austin. In 2008, I moved to Texas permanently.
          %blockquote
            I was introduced to the grooming industry at a very early age. I was raised from a toddler in my mother’s grooming salon and later helped with the Bouvier des Flandres’ my mother bred and showed. I knew early on that I would be a pet stylist. I spent many years working at a veterinary hospital managing their kennels and doing basic grooming, and I landed a pet styling apprenticeship in Austin years later.
          %blockquote
            I completed my apprenticeship in January 2011, and have since continued to hone my skills and techniques. I prioritize Continuing Education to not only provide my clientele with the latest and most comprehensive styles, but also the safest and most comfortable groom sessions for my dogs. Having found a like-minded approach and philosophy to Jade and her crew, I joined the team at Austin Pet Stylist in February 2016.
          %blockquote
            I am a progressive stylist with an intuitive and individualized approach to grooming, and I groom each dog individually by appointment. This assures that each dog receives the dedicated time and attention they need and allows them to be able to go home directly after the appointment is complete, therefore providing the briefest, most intimate, and stress-free grooming session possible.
          %blockquote
            I am well versed in the various styling and grooming needs of many different breeds and hair types. I am always searching for new ways to improve and customize styles to the particular needs of dogs in Austin and am open to trying new ideas and styles.
          %blockquote
            Besides keeping the dogs of Austin fur-fancy, I enjoys camping, bicycling, hiking, rock hunting and collection, gardening, crafting, and costuming. I live in East Austin with a Woodland Squirrelling Terrier named Nettie Bo-Bettie Woofy McPupPup, and 3 cats: A Miniature Dilute Tortoiseshell named Tippi Elm, Dagney, a Standard Dilute Tortoiseshell, and Japo, the Orange Tabby.
          %blockquote
            I moved to Austin in 2014 from Stockton, CA with my 11-year old daughter Emilee to pursue a career I was passionate about – dog grooming. I have always loved dogs and knew it would be a great career for me. I am certified in Pet CPR and 1st Aid and have years of experience working for dog in various boarding facilities as well as a vet’s office.
          %blockquote
            When I am not working, you can find me at the dog park with by dog Toby (Bernese mix) and family. My dog Toby was a rescue, and has been by my side for a number of years. He is obsessed with squirrels and sunbathing, and loves to swim when he can. Squeaky toys are his favorite, but then he destroys them and gets sad about it.
      .col-md-12.wide-box
        %article
          %header
            .col-xs-12.col-sm-6.col-md-6.col-lg-10
              %h1 Gizmo Marie Joy
              %h2 My skills fall in the just-being-the-smallest-fluff category!
            .col-xs-6.col-sm-6.col-md-6.col-lg-2
              = image_tag("gizmo-photo.png", class: "hidden-xs pull-right")
          %blockquote
            My name is Gizmo Marie Joy (yes, my middle name is Marie, get over it!) and I am obviously the most
            important person on this bio page. I prefer to believe other dogs don’t exist, but since my mom seems to like them so much I guess I have to work with it.
          %blockquote
            My favorite things are squirrels and walkies, and sometimes I like to cuddle with my people. I like to perch up high on the couch and lick my paws to clean my gloriously puffy face like a cat-dog!
          %blockquote
            If you catch me in my pocket bed please leave me alone, unless you are giving me a “treat-treat”. I just want to sleep. I’ll tell you when it’s cuddle time. Sometimes I can get quite demanding! 
          %blockquote
            I may not love being groomed but my mom is sure good at it! Sometimes she makes my paws too puffy 
            though, and I need to lick them to flatten them out and fix her work.
      .up-separator.background
        = image_tag("shadow_up.png")
