.container
  #home.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container
      .col-xs-12.col-md-4.home-service-box
        %article
          %header
            %h1 Grooming
          %p 
            Grooming is an important part of your pet's health, regardless of breed. Keeping the nails short, coat clean, and matt-free can help prevent health problems and will save on vet bills in the long run, so come in regularly!
          = link_to "Read More", services_path(:anchor => "grooming"), class: "button-pill"
      .col-xs-12.col-md-4.home-service-box
        %article
          %header
            %h1 The Extras
          %p
            We offer a wide range of add-on spa services such as spa packages, coconut scrubs, facials, and dental care. Like a creative touch? We also do creative coloring, nial painting, feather extensions, and more!
          = link_to "Read More", services_path(:anchor => "the-extras"), class: "button-pill"
      .col-xs-12.col-md-4.home-service-box#last-service
        %article
          %header
            %h1 Other Services
          %p
            Do you have a new puppy that needs to be introduced to the grooming process, or dog that needs a little extra TLC? We can help. Our experienced staff have tips and tricks to deal with special situations.
          = link_to "Read More", services_path(:anchor => "other-services"), class: "button-pill"
      .up-separator
        = image_tag("shadow_up.png")
    .content-container#reviews
      .side-shadow
        #testimonials.col-xs-12.col-md-6.col-lg-9
          %header
            %h1 What people are saying
          - @testimonials.each do |testimonial|
            %article
              %p.testimonial
                = testimonial.preview
              %p.text-right 
                = link_to "#{testimonial.client}", testimonial_path(testimonial.id)
        #yelp.col-xs-12.col-md-6.col-lg-3
          %header
            %h1 Yelp
            %p.pull-left
              Head to Austin Pet Stylist on Yelp for full reviews
              = link_to "Take me to Yelp!", @business.url
            %p.pull-left
              = "Total Reviews (#{@business.review_count})"
            %p.pull-right
              = image_tag(@business.rating_img_url)
            %article.clear
              %h2 Latest Yelp Review
              %p= @business.reviews[0].excerpt
              %p.pull-left= @business.reviews[0].user.name
              = image_tag(@business.reviews[0].rating_image_url, class: "pull-right")
        .up-separator
          = image_tag("shadow_up.png")