.container
  #policies.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container
      .col-md-12.wide-box
        %article
          %header.col-md-6.col-lg-8
            %h1 Jade's Policies
            %h2 Please note these policies were written to ensure you and your dog have the best experience possible.
          %ul.col-md-6.col-lg-8.clear
            %li
              If you cannot make your appointment please give at least 12 hours notice. There will be a 
              %span $30 no-show/last minute cancellation fee per dog.
            %li
              If you are more than 15 minutes late to your appointment, you may need to be rescheduled.
            %li
              ALL DOGS must be on a leash.
            %li
              Please 
              %strong pick up your dog promptly,
              unless prior arrangements have been agreed upon.
            %li 
              All dogs must be current on their rabies vaccination or have a rabies titer. Proof of vaccination must be brought to the first appointment. I suggest other vaccinations be up to date based on your vet’s recommendations.
            %li
              We do not accept flea infested dogs in the salon. Please seek flea treatment from your vet or contact us before the appointment for a Capstar pill to kill fleas. If fleas are discovered during grooming, a flea bath and Capstar will be given, and there will be an additional charge of $10 - $15 to cover cost and time of cleaning.
            %li
              We will dematt dogs, to an extent, at a rate of $1/minute if the matting is minimal and the dog tolerates the process. If there is excess matting ot the dog is uncomfortable, it will need to be shaved to start with a fresh coat. We believe in comfort and safety over vanity and have each pet’s best interest in mind.
            %li
              Please use the designated potty area only and do not let your dogs potty on the sidewalk or in the salon.
            %li
              Please do not show up early to see if your dog is ready. Feel free to call or text, but walking in with your pet on the table excites them and we may not be able to safely finish the groom. When this happens your dog will be considered finished and the full fee will apply. Safety of your pet is our #1 priority.
            %li
              Behavioral cases - We do not groom aggressive dogs. Dogs that require special handling due to fear/anxiety, excessive wiggling, or other issues can expect an additional handling fee of $5-30 depending in the severity of the issues and time involved. Behavioral cases will be accepted on a case-by-case basis.
          = image_tag("ollie-bentley-question.jpg", class: "hidden-xs col-lg-4 col-md-6")
          .clear
      .col-md-12.wide-box#last
        %article
          %header
            %h1 Frequently Asked Questions
          %p What are your hours of operation?
          %blockquote
            We do not have set hours, but we are open by appointment Tuesday through Friday, and most Saturdays. We do close one Saturday a month. Our first appointment is 9 or 10pm, and last appointment is at 3:30. 
          %p How long does the appointment take?
          %blockquote
            = "We currently take appts Tues-Fri and most Saturdays and do tend to book out anywhere from 1-2 weeks in advance during busier seasons. We work by appointment, usually starting at 9 or 10am and take our last appointment at 3 or 3:30. If you need to drop off early please mention that when scheduling, and that is usually fine. We leave when the last dog is done so prompt pickup is appreciated. We will always try our best to work with your schedule. In-and-out appointments minimize the stress on your dog and make for a happier grooming session!"
          %p Do you groom all dogs?
          %blockquote
            = "We have no specific breed restrictions, however we only groom dogs under 65 lbs."
          %p Do you groom cats?
          %blockquote
            = "We love animals of all type, but we only groom dogs at this time. If you have a cat and are looking for an excellent groomer, we can certainly recommend one for you!"
      .up-separator.background.col-xs-12.col-md-12.col-lg-12
        = image_tag("shadow_up.png")
      .clear
