%section#about_us.row
  .up-separator
    = image_tag("shadow_up.png")
  %section#about_us-content
    %section.about_us_wrapper.corner-shadow
      %article
        %header
          %h1 About Jade Williams
          %h2 Austin-based professional dog groomer extraordinaire
        %blockquote
          = "I am a Professional Pet Stylist who has made Austin home for the last 10 years. I have a 9 year old pomeranian named Gizmo who thinks he’s human and dislikes being around other dogs. I’d have quite a few more if he’d let me, but he’s certainly happy being the “man” of the house! I have a BSN from UT in nursing and worked as a nurse for a few years before I decided it was time to pursue my passion for pups."
        %blockquote
          = "I like to envision a dog as a canvas and groom in such a way that brings out the dog’s personality. I can certainly groom to breed standards, but I especially enjoy grooming creatively to give a dog a unique look. Sometimes even a small difference is all it takes."
        %blockquote
          = "When it comes to grooming there’s always more to learn. I like to stay current with my skills by attending dog shows, continuing education seminars, and participating in forums with fellow pet stylists. I am also an active member of"
          = link_to "International Professional Groomers.", "http://http://www.ipgicmg.com/"
        %blockquote
          = "I previously volunteered as a dog walker and basic trainer for The Austin Humane Society and enjoyed bonding with the dogs. Many dogs had experienced cruelty at its worst, and it was a great feeling to work with these dogs and reinforce the behaviors that ultimately helped them find their forever homes. Who doesn’t love a happy ending?"
        %blockquote
          = "I also volunteered with Austin Pets Alive! as a dog walker and was part of the Behavior and Enrichment Team. I took dogs who needed a little extra attention and work on outings around town to expose them to new experiences and work on basic commands."
        %blockquote
          = "Now that I volunteer my time for dogs in a different way. I currently offer pro-bono grooming services to both Austin Pets Alive! and Blue Dog Rescue. It’s a great way to make the dogs feel their best and help them find their forever homes. Many dogs that I have groomed have been adopted very soon after!"
    %section.about_us_wrapper.corner-shadow
      %article
        %header
          %h1 And her team of dog-grooming bad-asses!
          %h2 A really great team! I suck at writing other people's copy!
        %blockquote
          = "We have Jamie, and Oliver, and Banksy too!"
    %section.about_us_wrapper.corner-shadow
      %article
        %header
          %h1 And her team of dog-grooming bad-asses!
          %h2 A really great team! I suck at writing other people's copy!
        %blockquote
          = "We have Jamie, and Oliver, and Banksy too!"
    .up-separator
      = image_tag("shadow_up.png")
