%section#policies.row
  .up-separator
    = image_tag("shadow_up.png")
  %section#policies-content
    %section.policy-wrapper.corner-shadow
      %article
        %header
          %h1 Jade's Policies
          %h2 Please note that these policies were written to ensure you and your pet have the best experience possible.
        %ul
          %li
            If you cannot make your appointment, please give at least 12 hours notice. There will be a 
            %span $30 no-show/last minute cancellation fee per dog.
          %li
            If you are more than 15 minutes late to your appointment , you may need to be rescheduled.
          %li
            Please pick up your dog promptly, unless prior arrangements have been agreed upon.
          %li 
            I require all dogs be up to date on their rabies vaccination. Proof of vaccination must be brought to the 1st appointment. I highly suggest all other vaccinations be up to date based on your vet’s recommendations.
          %li
            I do not accept flea infested dogs in the salon. Please seek flea treatment from your vet before your appointment. If fleas are discovered during grooming, the dog will be given a flea bath and there will be an additional charge of $10-15 to cover the cost/time of cleaning.
          %li
            I highly suggest all clients book in advance, especially for multiple dog appointments. Last-minute appointments are often difficult to accommodate.
          %li
            I will dematt dogs, to a certain extent, at a rate of $1/minute if amount of matting is minimal and the dog tolerates the process. If there is excess matting or the dog is too uncomfortable, it will need to be shaved to start with a fresh coat. I believe in comfort and safety over vanity and have each pet’s best interest in mind.
    %section.policy-wrapper.corner-shadow
      %article
        %header
          %h1 Frequently Asked Questions
        %p How long does the appointment take?
        %blockquote
          = "The length of time depends on lots of factors: type of service provided, condition of your dog’s coat, style desired, your pet’s behavior, etc. Most smaller dogs on good coat condition can be completed in about 2 hours or so. Plan to drop off your dog at the scheduled appointment time and pick up promptly once called. Quiet dogs are welcome to stay longer when needed as long as it is pre-arranged and space is available. Keep in mind every dog receives a thorough bath, towel-dry, hand blow-dry, full brush-out, ear cleaning, nail trim, and hand scissor finish."
        %p Do you groom all dogs?
        %blockquote
          = "I have no specific breed restrictions, however I can only groom dogs under 65 lbs."
        %p Do you groom cats?
        %blockquote
          = "I love animals of all type, but I only groom dogs at this time. If you have a cat and are looking for an excellent groomer, I can certainly recommend one for you!"
    .up-separator
      = image_tag("shadow_up.png")