%section#services.row
  .up-separator
    = image_tag("shadow_up.png")
  %section#services-content
    .left-bottom-shadow.wide-service-box.left-align
      %article
        %header
          %h1 Grooming
        %ul
          %li
            Light Groom
            %p In between trim that can include sanitary, ears, nose, paws, and tail
          %li 
            Full Groom
            %p Our complete package that includes everything in the light groom, as well as the particular cut of choice you have in mind!
          %li 
            The Presidential
            %p This is our full on elite package including a full groom and styling!
        = image_tag("right_puppy_1.png")
    .right-bottom-shadow.wide-service-box.right-align
      %article
        %header
          %h1 Grooming
        %ul
          %li
            Light Groom
            %p In between trim that can include sanitary, ears, nose, paws, and tail
          %li 
            Full Groom
            %p Our complete package that includes everything in the light groom, as well as the particular cut of choice you have in mind!
          %li 
            The Presidential
            %p This is our full on elite package including a full groom and styling!
        = image_tag("right_puppy_1.png")
    .left-bottom-shadow.wide-service-box.left-align
      %article
        %header
          %h1 Grooming
        %ul
          %li
            Light Groom
            %p In between trim that can include sanitary, ears, nose, paws, and tail
          %li 
            Full Groom
            %p Our complete package that includes everything in the light groom, as well as the particular cut of choice you have in mind!
          %li 
            The Presidential
            %p This is our full on elite package including a full groom and styling!
        = image_tag("right_puppy_1.png")
    .up-separator
      = image_tag("shadow_up.png")
