%section#testimonial.row
  .up-separator
    = image_tag("shadow_up.png")
  %section#testimonial-content
    %section.testimonial_wrapper.corner-shadow
      %article
        = bootstrap_form_for @testimonial do |f|
          %header
            %h1 Create Testimonial
          %fieldset
            = f.text_area :body, label: "What did they say?", label_col: "col-sm-2", control_col: "col-sm-6"
            = f.text_field :client, label: "Which client said it?", label_col: "col-sm-2", control_col: "col-sm-6", class: "client_name"
          %fieldset.form-group.action
            = f.submit "Create Testimonial", class: "btn btn-default"
    .up-separator
      = image_tag("shadow_up.png")


