.container
  #testimonial.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container
      .col-md-12.wide-box
        %article
          = bootstrap_form_for @testimonial do |f|
            %header
              %h1 Create Testimonial
            %fieldset.col-sm-12.col-md-12.col-lg-6
              = f.text_area :body, label: "What did they say?", label_col: "col-sm-2", control_col: "col-sm-6"
              = f.text_field :client, label: "Which client said it?", label_col: "col-sm-2", control_col: "col-sm-6", class: "client_name"
            %fieldset.form-group.action.col-sm-12.col-md-12.col-lg-6.clear
              = f.submit "Create Testimonial", class: "btn btn-default"
            .clear
      .up-separator
        = image_tag("shadow_up.png")