.container
  #testimonial.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container
      .col-md-12.wide-box
        %article
          %header
            %h1 This is what #{@testimonial.client} had to say
          %blockquote
            = @testimonial.body
          - if logged_in?
            = link_to "Edit this testimonial", edit_testimonial_path, class: "btn btn-default"
      .up-separator
        = image_tag("shadow_up.png")